<template>
  <div>
    <div id="player" />
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  head () {
    return {
      script: [
        {
          src: '/js/jwplayer8.js',
          type: 'text/javascript',
          async: false,
          defer: true,
          callback: () => (this.initJwplayer())
        }
      ]
    }
  },
  mounted () {

  },
  methods: {
    initJwplayer () {
      const id = this.$route.params.id
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/playx/${id}`,
        type: 'get',
        xhrFields: {
          withCredentials: true
        },
        success: (response) => {
          console.log('🚀 ~ initJwplayer ~ response:', response)

          // eslint-disable-next-line no-undef
          const player = jwplayer('player')
          const objSetup = {
            key: 'W7zSm81+mmIsg7F+fyHRKhF3ggLkTqtGMhvI92kbqf/ysE99',
            width: '100%',
            height: '100%',
            preload: 'metadata',
            primary: 'html5',
            hlshtml: true,
            controls: true,
            pipIcon: true,
            autostart: false,
            mute: false,
            repeat: false,
            image: response.thumbnail,
            sources: [
              {
                file: response.m3u8,
                type: 'application/vnd.apple.mpegurl'
              }
            ],
            skin: {
              controlbar: {
                iconsActive: '#ff0000'
              },
              timeslider: {
                progress: '#ff0000'
              },
              menus: {
                background: '#121212',
                textActive: '#ff0000'
              }
            }
          }
          player.setup(objSetup)

          let levelQ
          const clientSide = {
            qualitySwitch (b) {
              const item = levelQ[b]
              if (this.svgLabel(item?.label) === undefined) {
                player.removeButton('qSwitch')
              } else {
                player.addButton(
                  this.svgLabel(item?.label),
                  item?.label,
                  function () {},
                  'qSwitch'
                )
              }
            },
            removeBtn () {
              player.removeButton('share')
            },
            forwardBtn () {
              // display icon
              // const iconForward = '<svg xmlns="http://www.w3.org/2000/svg" class="jw-svg-icon jw-svg-icon-rewind" viewBox="0 0 240 240" focusable="false"> <path d="M185,135.6c-3.7-6.3-10.4-10.3-17.7-10.6c-7.3,0.3-14,4.3-17.7,10.6c-8.6,14.2-8.6,32.1,0,46.3c3.7,6.3,10.4,10.3,17.7,10.6 c7.3-0.3,14-4.3,17.7-10.6C193.6,167.6,193.6,149.8,185,135.6z M167.3,182.8c-7.8,0-14.4-11-14.4-24.1s6.6-24.1,14.4-24.1 s14.4,11,14.4,24.1S175.2,182.8,167.3,182.8z M123.9,192.5v-51l-4.8,4.8l-6.8-6.8l13-13c1.9-1.9,4.9-1.9,6.8,0 c0.9,0.9,1.4,2.1,1.4,3.4v62.7L123.9,192.5z M22.7,57.4h130.1V38.1c0-5.3,3.6-7.2,8-4.3l41.8,27.9c1.2,0.6,2.1,1.5,2.7,2.7 c1.4,3,0.2,6.5-2.7,8l-41.8,27.9c-4.4,2.9-8,1-8-4.3V76.7H37.1v96.4h48.2v19.3H22.6c-2.6,0-4.8-2.2-4.8-4.8V62.3 C17.8,59.6,20,57.4,22.7,57.4z"> </path> </svg>'
              const rewindContainer = document.querySelector(
                '.jw-display-icon-rewind'
              )
              const forwardContainer = rewindContainer.cloneNode(true)
              const forwardDisplayButton =
          forwardContainer.querySelector('.jw-icon-rewind')
              forwardDisplayButton.style.transform = 'scaleX(-1)'
              forwardDisplayButton.ariaLabel = 'Forward 10 Seconds'
              const nextContainer = document.querySelector('.jw-display-icon-next')
              nextContainer.parentNode.insertBefore(forwardContainer, nextContainer)

              // control bar icon
              document.querySelector('.jw-display-icon-next').style.display = 'none' // hide next button
              const buttonContainer = document.querySelector('.jw-button-container')
              const rewindControlBarButton =
          buttonContainer.querySelector('.jw-icon-rewind')
              const forwardControlBarButton = rewindControlBarButton.cloneNode(true)
              forwardControlBarButton.style.transform = 'scaleX(-1)'
              forwardControlBarButton.ariaLabel = 'Forward 10 Seconds'
              rewindControlBarButton.parentNode.insertBefore(
                forwardControlBarButton,
                rewindControlBarButton.nextElementSibling
              );
              // add onclick handlers
              [forwardDisplayButton, forwardControlBarButton].forEach((button) => {
                button.onclick = () => {
                  player.seek(player.getPosition() + 10)
                }
              })
            },
            svgLabel (a) {
              const data = {
                '360p':
            '<svg class="jw-svg-icon jw-svg-icon-qswitch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 24"><path d="M7 15v-1.5A1.5 1.5 0 0 0 5.5 12 1.5 1.5 0 0 0 7 10.5V9a2 2 0 0 0-2-2H1v2h4v2H3v2h2v2H1v2h4a2 2 0 0 0 2-2M10 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2v-2a2 2 0 0 0-2-2h-2V9h4V7h-4m0 6h2v2h-2v-2zM17 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2m0 2h2v6h-2V9zM28 7v10h2v-4h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-4m2 2h2v2h-2V9m-6-6h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H24a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/></svg>',
                '480p':
            '<svg class="jw-svg-icon jw-svg-icon-qswitch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 24"><path d="M1 7v6h4v4h2V7H5v4H3V7H1zM10 13h2v2h-2m0-6h2v2h-2m0 6h2a2 2 0 0 0 2-2v-1.5a1.5 1.5 0 0 0-1.5-1.5 1.5 1.5 0 0 0 1.5-1.5V9a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v1.5A1.5 1.5 0 0 0 9.5 12 1.5 1.5 0 0 0 8 13.5V15a2 2 0 0 0 2 2M17 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2m0 2h2v6h-2V9zM28 7v10h2v-4h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-4m2 2h2v2h-2V9m-6-6h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H24a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/></svg>',
                '720p':
            '<svg class="jw-svg-icon jw-svg-icon-qswitch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42 24"><path d="M3 17l4-8V7H1v2h4l-4 8M8 7v2h4v2h-2a2 2 0 0 0-2 2v4h6v-2h-4v-2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2H8zM17 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2m0 2h2v6h-2V9zM28 7v10h2v-4h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-4m2 2h2v2h-2V9m-6-6h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H24a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/></svg>',
                '1080p':
            '<svg class="jw-svg-icon jw-svg-icon-qswitch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 24"><path d="M2 7v2h2v8h2V7H2zM10 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2m0 2h2v6h-2V9zM17 13h2v2h-2m0-6h2v2h-2m0 6h2a2 2 0 0 0 2-2v-1.5a1.5 1.5 0 0 0-1.5-1.5 1.5 1.5 0 0 0 1.5-1.5V9a2 2 0 0 0-2-2h-2a2 2 0 0 0-2 2v1.5a1.5 1.5 0 0 0 1.5 1.5 1.5 1.5 0 0 0-1.5 1.5V15a2 2 0 0 0 2 2M24 7a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-2m0 2h2v6h-2V9zM36 7v10h2v-4h2a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-4m2 2h2v2h-2V9m-6-6h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H32a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"/></svg>'
              }
              return data[a]
            }
          }

          player.on('ready', function (evt) {
            clientSide.removeBtn()
            clientSide.forwardBtn()
          })
          player.on('levels', function (e) {
            levelQ = e?.levels
          })
          player.on('levelsChanged', function (e) {
            clientSide.qualitySwitch(e.currentQuality)
          })
          player.on('visualQuality', function (e) {
            clientSide.qualitySwitch(e.level.index)
          })
        },
        error (error) {
          console.log('🚀 ~ error ~ error:', error)
          Swal.fire(
            'Error!',
            error.responseText || 'There was an error checking the caches.',
            'error'
          )
        }
      })
    }
  }
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.jw-skip {
  zoom: 1.5;
  border: 1px solid #ff0000 !important;
}
.jw-skip .jw-text,
.jw-skip .jw-icon {
  color: #ff0000 !important;
}
.btn-out-ads {
  position: absolute;
  bottom: 9em;
  right: 1em;
  padding: 0.5em;
  font-weight: bold;
  border: 1px solid #ff0000 !important;
}
.jw-rightclick {
  display: none !important;
}
.jw-logo {
  max-height: 50px;
}
</style>
