
<template>
  <div class="container fuild">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image" />
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                      Welcome Back!
                    </h1>
                  </div>
                  <form id="loginForm" class="user">
                    <div class="form-group">
                      <input id="username" type="text" class="form-control form-control-user" aria-describedby="usernameHelp" placeholder="Enter username...">
                    </div>
                    <div class="form-group">
                      <input id="password" type="password" class="form-control form-control-user" placeholder="Password">
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input id="customCheck" type="checkbox" class="custom-control-input">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/auth/register">Create an Account!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
// import axios from 'axios'
import { call } from 'vuex-pathify'
export default {
  layout: 'blank',

  mounted () {
    $('#loginForm').on('submit', (event) => {
      // console.log('setUser :>> ', this.setUser({ token: '123' }))
      event.preventDefault()

      const username = $('#username').val()
      const password = $('#password').val()

      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/auth/login`,
        method: 'POST',
        contentType: 'application/json',
        credentials: 'include',
        data: JSON.stringify({
          username,
          password
        }),
        success: async (response) => {
          if (response.success) {
            await Swal.fire({
              icon: 'success',
              title: 'Login Successful',
              text: 'Welcome back, ' + username + '!',
              showConfirmButton: false,
              timer: 1500
            })
            this.setUser(response.data)
            document.cookie = response.cookie.username
            document.cookie = response.cookie.token
            document.cookie = response.cookie.id
            window.location.href = '/'
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Login Failed',
              text: response.message
            })
          }
        },
        error (xhr, status, error) {
          const errorMessage = xhr.status + ': ' + xhr.statusText
          Swal.fire({
            icon: 'error',
            title: 'Login Failed',
            text: 'An error occurred while processing your request. ' + errorMessage
          })
        }
      })
    })
  },
  methods: {
    setUser: call('user/setUserInfo')
  }
}
</script>
