<template>
  <div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
      <div class="col-xl-10 col-lg-12 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image" />
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">
                      Create an Account!
                    </h1>
                  </div>
                  <form id="registerForm" class="user">
                    <div class="form-group">
                      <input
                        id="username"
                        type="text"
                        class="form-control form-control-user"
                        aria-describedby="usernameHelp"
                        placeholder="Enter username..."
                        required
                      >
                    </div>
                    <div class="form-group">
                      <input id="password" type="password" class="form-control form-control-user" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                      <input id="password-confirm" type="password" class="form-control form-control-user" placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Register Account
                    </button>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="./login">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  layout: 'blank',
  mounted () {
    $('#registerForm').on('submit', function (event) {
      event.preventDefault()

      const username = $('#username').val()
      const password = $('#password').val()
      const passwordConfirm = $('#password-confirm').val()

      if (password !== passwordConfirm) {
        Swal.fire({
          icon: 'error',
          title: 'Register Failed',
          text: 'Passwords do not match'
        })
        return
      }

      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/auth/register`,
        method: 'POST',
        xhrFields: {
          withCredentials: true
        },
        contentType: 'application/json',
        data: JSON.stringify({
          username,
          password
        }),
        success (response, status, xhr) {
          if (xhr.status === 201) {
            Swal.fire({
              icon: 'error',
              title: 'Register Failed',
              text: 'Username already exists'
            })
          } else if (response.success) {
            Swal.fire({
              icon: 'success',
              title: 'Register Successful',
              text: 'Welcome!'
            }).then(function () {
              window.location.href = '/auth/login'
            })
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Register Failed',
              text: response.message
            })
          }
        },
        error (xhr) {
          let errorMessage = 'An error occurred while processing your request.'
          if (xhr.responseJSON && xhr.responseJSON.errors) {
            errorMessage = xhr.responseJSON.errors.map(error => error.msg).join(', ')
          } else if (xhr.responseJSON && xhr.responseJSON.message) {
            errorMessage = xhr.responseJSON.message
          }
          Swal.fire({
            icon: 'error',
            title: 'Register Failed',
            text: errorMessage
          })
        }
      })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
