<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">
      Google Drive Account
    </h1>
    <style>
      .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
      }

      .btn-group-custom button {
      flex: 1;
      }

      .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      }
      .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
      }
    </style>
    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Google Drive Account
            </h6>
          </div>
          <div class="card-body">
            <div class="upload-container">
              <div id="uploadArea" class="upload-area">
                <div class="form-group">
                  <input id="email" type="email" class="form-control" aria-describedby="single-drive" placeholder="email">
                </div>
                <div class="form-group">
                  <input id="clientId" type="text" class="form-control" aria-describedby="clientId" placeholder="clientId">
                </div>
                <div class="form-group">
                  <input id="clientsecret" type="text" class="form-control" aria-describedby="clientsecret" placeholder="clientsecret">
                </div>
                <div class="form-group">
                  <input id="refreshtoken" type="text" class="form-control" aria-describedby="refreshtoken" placeholder="refreshtoken">
                </div>
                <br>
                <div class="btn-group-custom">
                  <button id="add-account-google" class="btn btn-primary">
                    ADD
                  </button>
                </div>
                <input id="fileInput" type="file" multiple style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  mounted () {
    $('#add-account-google').click(function () {
      const email = $('#email').val()
      const clientId = $('#clientId').val()
      const clientsecret = $('#clientsecret').val()
      const refreshtoken = $('#refreshtoken').val()

      $.ajax({
        url: '/google-add',
        method: 'POST',
        contentType: 'application/json',
        data: JSON.stringify({
          email,
          clientId,
          clientsecret,
          refreshtoken
        }),
        success (response) {
          Swal.fire('Success', 'Google Drive account added successfully!', 'success')
        },
        error (response) {
          Swal.fire('Error', 'There was an error adding the Google Drive account.', 'error')
        }
      })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
