<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">
      Google Account
    </h1>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <!-- Server Information Section -->
            <div class="col d-flex justify-content-between align-items-center">
              <h6 class="m-0 font-weight-bold text-primary">
                Google Account
              </h6>
              <div>
                <a class="btn btn-primary" href="/google-drive/add" role="button">ADD</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Email</th>

                    <th>status</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <% if (google.length > 0) { %>
                  <% google.forEach(googles => { %> -->
                  <template v-if="google.length">
                    <tr v-for="googles in google" :key="googles">
                      <td>{{ googles.id }}</td>
                      <td>{{ googles.email }}</td>
                      <td>{{ googles.status }}</td>
                      <td>{{ googles.created_at }}</td>
                    </tr>
                  </template>
                  <!-- <% }) %>
                  <% } else { %> -->
                  <tr v-else>
                    <td colspan="9" class="text-center">
                      ไม่มีข้อมูล
                    </td>
                  </tr>
                  <!-- <% } %> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      google: []
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/google-drive`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.google = response.google
        // if (response.message === 'โฟลเดอร์ว่างเปล่าหรือข้อมูลถูกลบไปหมดแล้ว') {
        //   Swal.fire(
        //     'แจ้งเตือน',
        //     response.message,
        //     'warning'
        //   )
        // } else {

        // }
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
