<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->

    <style>
      .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
      }

      .btn-group-custom button {
      flex: 1;
      }

      .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      }
      .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
      }
      .important-note {
      color: red;
      font-weight: bold;
      }
    </style>

    <div class="row">
      <div class="col-lg-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Google Drive Proxy Download
            </h6>
          </div>
          <div class="card-body">
            <div class="upload-container">
              <div id="uploadArea" class="upload-area">
                <div class="form-group">
                  <input
                    id="ip"
                    type="text"
                    class="form-control"
                    aria-describedby="ip"
                    placeholder="IP"
                    :value=" userSettings ? userSettings.ip : '' "
                  >
                </div>
                <div class="form-group">
                  <input
                    id="port"
                    type="text"
                    class="form-control"
                    aria-describedby="port"
                    placeholder="PORT"
                    :value="userSettings ? userSettings.port : ''"
                  >
                </div>
                <div class="form-group">
                  <input
                    id="username"
                    type="text"
                    class="form-control"
                    aria-describedby="username"
                    placeholder="Username"
                    :value="userSettings ? userSettings.username : '' "
                  >
                </div>
                <div class="form-group">
                  <input
                    id="password"
                    type="text"
                    class="form-control"
                    aria-describedby="password"
                    placeholder="Password"
                    :value="userSettings ? userSettings.password : '' "
                  >
                </div>
                <br>
                <div class="btn-group-custom">
                  <button id="add-account-google" class="btn btn-primary">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Setting Process Direct Download
            </h6>
          </div>
          <div class="card-body">
            <div class="form-check form-switch">
              <input
                id="reprocess144"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label">Re Process Resolution 144 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess240"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label">Re Process Resolution 240 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess360"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label">Re Process Resolution 360 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess480"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label">Re Process Resolution 480 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess720"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess720"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess720
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckChecked">Re Process Resolution 720 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess1080"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess1080"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess1080
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 1080 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess1440"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess1080"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess1080
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 1440 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="reprocess2160"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.reprocess1080"
              >
              <!-- <%="userSettings"
                &&
                userSettings.reprocess1080
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Re Process Resolution 2160 <span class="important-note">*CPU working hard</span></label>
            </div>
            <div class="form-check form-switch">
              <input
                id="origin"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.origin"
              >
              <!-- <%="userSettings"
                &&
                userSettings.origin
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Origin</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Setting Process Proxy Download
            </h6>
          </div>
          <div class="card-body">
            <div class="form-check form-switch">
              <input
                id="proxy360"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxy360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxy360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label">Resolution 360</label>
            </div>
            <div class="form-check form-switch">
              <input
                id="proxy720"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxy720"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxy720
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckChecked">Resolution 720</label>
            </div>
            <div class="form-check form-switch">
              <input
                id="proxy1080"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxy1080"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxy1080
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 1080</label>
            </div>
            <div class="form-check form-switch">
              <input
                id="proxyhigh1080"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxyhigh1080"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxyhigh1080
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 1080 Very High 1 Resolution </label>
            </div>
            <div class="form-check form-switch">
              <input
                id="proxyhigh720"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxyhigh720"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxyhigh720
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 720 Very High 1 Resolution</label>
            </div>
            <div class="form-check form-switch">
              <input
                id="proxyhigh1080_360"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.proxyhigh1080_360"
              >
              <!-- <%="userSettings"
                &&
                userSettings.proxyhigh1080_360
                ?
                'checked'
                :
                ''
                %
              > -->
              <label class="form-check-label" for="flexSwitchCheckDisabled">Resolution 360 & 1080 Very High 1 Resolution</label>
            </div>
            <div class="form-check form-switch">
              <input
                id="noproxy"
                class="form-check-input"
                type="checkbox"
                role="switch"
                :checked="userSettings?.noproxy"
              >
              <label class="form-check-label" for="flexSwitchCheckDisabled">If the resolution is not found, download Origin.</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      servers: [],
      userSettings: {}
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/setting-domains`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.servers = response.servers
        this.userSettings = response.userSettings
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })
    $('#add-account-google').click(function () {
      // ดึงข้อมูลจากฟอร์ม Google Drive Proxy Download
      const ip = $('#ip').val()
      const port = $('#port').val()
      const username = $('#username').val()
      const password = $('#password').val()

      // ดึงข้อมูลจากฟอร์ม Setting Process Direct Download
      const reprocess360 = $('#reprocess360').is(':checked') ? 1 : 0
      const reprocess720 = $('#reprocess720').is(':checked') ? 1 : 0
      const reprocess1080 = $('#reprocess1080').is(':checked') ? 1 : 0
      const origin = $('#origin').is(':checked') ? 1 : 0

      // ดึงข้อมูลจากฟอร์ม Setting Process Proxy Download
      const proxy360 = $('#proxy360').is(':checked') ? 1 : 0
      const proxy720 = $('#proxy720').is(':checked') ? 1 : 0
      const proxy1080 = $('#proxy1080').is(':checked') ? 1 : 0
      const proxyhigh1080 = $('#proxyhigh1080').is(':checked') ? 1 : 0
      const proxyhigh720 = $('#proxyhigh720').is(':checked') ? 1 : 0
      // eslint-disable-next-line camelcase
      const proxyhigh1080_360 = $('#proxyhigh1080_360').is(':checked') ? 1 : 0
      const noproxy = $('#noproxy').is(':checked') ? 1 : 0

      // ส่งข้อมูลไปที่เซิร์ฟเวอร์โดยใช้ AJAX
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/save-settings`, // เส้นทางในเซิร์ฟเวอร์
        method: 'POST',
        contentType: 'application/json',
        xhrFields: {
          withCredentials: true
        },
        data: JSON.stringify({
          ip,
          port,
          username,
          password,
          reprocess360,
          reprocess720,
          reprocess1080,
          origin,
          proxy360,
          proxy720,
          proxy1080,
          proxyhigh1080,
          proxyhigh720,
          proxyhigh1080_360,
          noproxy
        }),
        success (response) {
          Swal.fire(
            'Saved!',
            'Your data has been saved.',
            'success'
          )
        },
        error (xhr, status, error) {
          Swal.fire(
            'Error!',
            'An error occurred while saving your data.',
            'error'
          )
        }
      })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
