<template>
  <div>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <style>
        .btn-group-custom {
        display: flex;
        justify-content: center;
        gap: 10px;
        }

        .btn-group-custom button {
        flex: 1;
        }

        .video-thumbnail {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 10px;
        }
        .custom-height {
        height: 800px; /* Adjust height as needed */
        }
        .important-note {
        color: red;
        font-weight: bold;
        }

        .form-group {
        display: flex;
        align-items: center;
        }

        .form-group > .col-sm-5 {
        flex: 1;
        padding-right: 10px;
        }

        .form-group > .col-sm-5:last-child {
        padding-right: 0;
        }

        .form-group > .col-sm-2 {
        flex: 0 0 15%;
        }
      </style>
      <style>
        .table {
        margin-top: 10px;
        }
        .thead-light {
        background-color: #f8f9fa;
        }
        .btn-info {
        margin-left: 10px;
        }
        .btn-danger {
        margin-left: 10px;
        }
        .form-control {
        width: 100%;
        }
        .table td, .table th {
        vertical-align: middle;
        }
        .endpoint-method {
        width: 80px;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        border-radius: 4px;
        padding: 5px;
        }
        .endpoint-method.get {
        background-color: #28a745;
        color: white;
        }
        .endpoint-method.post {
        background-color: #007bff;
        color: white;
        }
        .endpoint-method.put {
        background-color: #ffc107;
        color: white;
        }
        .endpoint-method.delete {
        background-color: #dc3545;
        color: white;
        }
        .endpoint {
        margin-bottom: 10px;
        }
        .api-section {
        margin-top: 40px;
        }
      </style>
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                JWPlayer Settings
              </h6>
            </div>
            <div class="card-body">
              <div class="upload-container">
                <div id="uploadArea" class="upload-area">
                  <ul id="myTab" class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button
                        id="home-tab"
                        class="nav-link active"
                        data-toggle="tab"
                        data-target="#general-settings"
                        type="button"
                        role="tab"
                        aria-controls="general-settings"
                        aria-selected="true"
                      >
                        General Settings
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        id="profile-tab"
                        class="nav-link"
                        data-toggle="tab"
                        data-target="#jwplayer-settings"
                        type="button"
                        role="tab"
                        aria-controls="jwplayer-settings"
                        aria-selected="false"
                      >
                        JWPlayer Settings
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        id="allowed-sites-tab"
                        class="nav-link"
                        data-toggle="tab"
                        data-target="#allowed-sites"
                        type="button"
                        role="tab"
                        aria-controls="allowed-sites"
                        aria-selected="false"
                      >
                        Allowed Sites
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        id="stream-link-tab"
                        class="nav-link"
                        data-toggle="tab"
                        data-target="#stream-link"
                        type="button"
                        role="tab"
                        aria-controls="stream-link"
                        aria-selected="false"
                      >
                        Stream Link
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        id="p2p-tab"
                        class="nav-link"
                        data-toggle="tab"
                        data-target="#p2p"
                        type="button"
                        role="tab"
                        aria-controls="p2p"
                        aria-selected="false"
                      >
                        P2P
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button
                        id="stream-api-tab"
                        class="nav-link"
                        data-toggle="tab"
                        data-target="#stream-api"
                        type="button"
                        role="tab"
                        aria-controls="stream-api"
                        aria-selected="false"
                      >
                        Stream API By Nuxt
                      </button>
                    </li>
                  </ul>
                  <div id="myTabContent" class="tab-content">
                    <div id="general-settings" class="tab-pane fade show active" role="tabpanel" aria-labelledby="home-tab">
                      <br>
                      <div class="form-group">
                        <label for="player-url" class="col-sm-2 control-label">Player URL</label>
                        <input id="player-url" type="text" class="form-control" placeholder="Player URL" :value="settings?.playerUrl || '' ">
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Iframe Size</label>
                        <div class="col-sm-5">
                          <label>Height</label>
                          <input type="text" class="form-control" name="settings-iframe_height-" placeholder="Example: 360" :value="settings?.iframeHeight || '360'">
                        </div>
                        <div class="col-sm-5">
                          <label>Width</label>
                          <input type="text" class="form-control" name="settings-iframe_width" placeholder="Example: 100%" :value="settings?.iframeWidth || '100%' ">
                        </div>
                      </div>
                    </div>
                    <div id="jwplayer-settings" class="tab-pane fade" role="tabpanel" aria-labelledby="profile-tab">
                      <br>
                      <div class="form-group">
                        <label for="jwplayer-key" class="col-sm-2 control-label">JW Player Key</label>
                        <input id="jwplayer-key" type="text" class="form-control" placeholder="JW Player Key" :value=" settings?.jwplayerKey || '' ">
                      </div>
                      <div class="form-group">
                        <label for="jwplayer-url" class="col-sm-2 control-label">JW Player Url</label>
                        <input id="jwplayer-url" type="text" class="form-control" placeholder="JW Player Url" :value=" settings?.jwplayerUrl || '' ">
                      </div>
                      <div class="form-group">
                        <label for="player-defaultimage" class="col-sm-2 control-label">Default Background Image</label>
                        <input id="player-defaultimage" type="text" class="form-control" placeholder="Default Background Image" :value=" settings?.defaultImage || '' ">
                      </div>
                      <div class="form-group">
                        <label for="player-rememberposition" class="col-sm-2 control-label">Remember Position (Resume on Restart)</label>
                        <div class="form-check form-switch">
                          <input
                            id="player-rememberposition"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.rememberPosition"
                          >
                          <!-- <%="settings.rememberPosition"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="player-rememberposition">Press to Activate</label>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group">
                        <label for="logo-switch-chack" class="col-sm-2 control-label">Logo</label>
                        <div class="form-check form-switch">
                          <input
                            id="logo-switch-chack"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.logoSwitchChack"
                          >
                          <!-- <%="settings.logoSwitchChack"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="logo-switch-chack">Press to Activate</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="logo-switch-hide" class="col-sm-2 control-label">Logo Hide</label>
                        <div class="form-check form-switch">
                          <input
                            id="logo-switch-hide"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.logoSwitchHide"
                          >
                          <!-- <%="settings.logoSwitchHide"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="logo-switch-hide">Press to Activate</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="logo-url" class="col-sm-2 control-label">Logo URL</label>
                        <input id="logo-url" type="text" class="form-control" placeholder="Logo URL" :value="settings?.logoUrl || '' ">
                      </div>
                      <div class="form-group">
                        <label for="logo-target" class="col-sm-2 control-label">Logo Target</label>
                        <input id="logo-target" type="text" class="form-control" placeholder="Logo Target" :value=" settings?.logoTarget || '' ">
                      </div>
                      <div class="form-group">
                        <label for="logo-position" class="col-sm-2 control-label">Logo Position</label>
                        <select id="logo-position" class="form-control" name="logo-position" aria-label="Default select example">
                          <option
                            value=""
                            :selected="!settings?.logoPosition"
                          >
                            Unselected
                            <!-- <%="!settings.logoPosition"
                            ?
                            'selected'
                            :
                            ''
                            %
                          > -->
                          </option>
                          <option
                            value="1"
                            :selected="settings?.logoPosition === '1'"
                          >
                            TOP-LEFT
                            <!-- <%="settings.logoPosition"
                            =="1"
                            ?
                            'selected'
                            :
                            ''
                            %
                          > -->
                          </option>
                          <option
                            value="2"
                            :selected="settings?.logoPosition === '2'"
                          >
                            TOP-RIGHT
                            <!-- <%="settings.logoPosition"
                            =="2"
                            ?
                            'selected'
                            :
                            ''
                            %
                          > -->
                          </option>
                          <option
                            value="3"
                            :selected="settings?.logoPosition === '3'"
                          >
                            LEFT-BOTTOM
                            <!-- <%="settings.logoPosition"
                            =="3"
                            ?
                            'selected'
                            :
                            ''
                            %
                          > -->
                          </option>
                          <option
                            value="4"
                            :selected="settings?.logoPosition === '4'"
                          >
                            RIGHT-BOTTOM

                            <!-- <%="settings.logoPosition"
                            =="4"
                            ?
                            'selected'
                            :
                            ''
                            %
                          > -->
                          </option>
                        </select>
                      </div>
                      <hr>
                    </div>
                    <div id="allowed-sites" class="tab-pane fade" role="tabpanel" aria-labelledby="allowed-sites-tab">
                      <br>
                      <div class="form-group">
                        <label for="allowed-sites" class="col-sm-2 control-label">Allowed Sites</label>
                        <div class="col-sm-10">
                          <textarea
                            id="allowed-sites-txt"
                            :value="settings?.allowedSites"
                            class="form-control"
                            style="resize: vertical; width: 100%; height: 80px;"
                            name="allowed-sites-txt"
                            placeholder="Example: google.com, sv1.google.com"
                          />
                          <span class="help-block">You can prevent giving iframes to your player from other sites. Use <code>,</code> to separate the sites without entering the protocol. When a site that is not in this list places your password, it is automatically directed to the main page of your site.</span>
                        </div>
                      </div>
                    </div>
                    <div id="stream-link" class="tab-pane fade" role="tabpanel" aria-labelledby="stream-link-tab">
                      <br>
                      <div class="form-group">
                        <label for="allowed-playlist" class="col-sm-2 control-label">Allowed Playlist</label>
                        <div class="form-check form-switch">
                          <input
                            id="allowed-playlist"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.allowedPlaylist"
                          >
                          <!-- <%="settings.allowedPlaylist"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="allowed-playlist">Press to Activate</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="allowed-playlist-index" class="col-sm-2 control-label">Allowed Playlist Index</label>
                        <div class="form-check form-switch">
                          <input
                            id="allowed-playlist-index"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.allowedPlaylistIndex"
                          >
                          <!-- <%="settings.allowedPlaylistIndex"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="allowed-playlist-index">Press to Activate</label>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <div class="form-group">
                            <table id="repeatable-fieldset-one1" width="100%" class="dt_table_admin1 ui-sortable table table-striped table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th width="60%">
                                    Domains
                                  </th>
                                  <th width="40%">
                                    <a id="add-row1" class="btn btn-info add_row" href="javascript:void(0);">
                                      Add Domain <i class="icon-plus" />
                                    </a>
                                  </th>
                                </tr>
                              </thead>
                              <tbody id="domain-list">
                                <!-- <% if (settings.streamLinkDomains) { %>
                                <% settings.streamLinkDomains.split(',').forEach(domain => { %> -->
                                <template v-if="settings?.streamLinkDomains">
                                  <tr v-for="domain in settings?.streamLinkDomains.split(',')" :key="domain">
                                    <td class="text_player">
                                      <input type="text" class="form-control" name="stream-link-domains" :value="domain">
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-danger remove-row">
                                        Remove
                                      </button>
                                    </td>
                                  </tr>
                                </template>
                                <!-- <% }) %>
                                <% } %> -->
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div id="p2p" class="tab-pane fade" role="tabpanel" aria-labelledby="p2p-tab">
                      <br>
                      <div class="form-group">
                        <label for="allowed-p2p" class="col-sm-2 control-label">P2P Plugin</label>
                        <div class="form-check form-switch">
                          <input
                            id="allowed-p2p"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.allowedP2P"
                          >
                          <!-- <%="settings.allowedP2P"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="allowed-p2p">To prevent bandwidth and hitch problems, this feature will be activated for users who watch via PC.</label>
                        </div>
                      </div>
                      <hr>
                      <div class="form-group">
                        <div class="col-sm-10">
                          <div class="form-group">
                            <table id="repeatable-fieldset-one2" width="100%" class="dt_table_admin1 ui-sortable table table-striped table-bordered">
                              <thead class="thead-light">
                                <tr>
                                  <th width="60%">
                                    Server
                                  </th>
                                  <th width="40%">
                                    Operation
                                  </th>
                                </tr>
                              </thead>
                              <tbody id="domain-list-p2p">
                                <!-- <% if (settings.p2pLink) { %>
                                <% settings.p2pLink.split(',').forEach(link => { %> -->
                                <template v-if="settings?.p2pLink">
                                  <tr v-for="link in settings?.p2pLink.split(',')" :key="link">
                                    <td class="text_player">
                                      <input type="text" class="form-control" name="p2p-link" :value=" link ">
                                    </td>
                                    <td>
                                      <button type="button" class="btn btn-danger remove-row-p2p">
                                        Remove
                                      </button>
                                    </td>
                                  </tr>
                                </template>
                                <!-- <% }) %>
                                <% } %> -->
                              </tbody>
                            </table>
                            <button id="p2p-add-row1" class="btn btn-info add_row mt-2" type="button">
                              New Server
                            </button>
                          </div>
                        </div>
                      </div>
                      <hr>
                    </div>
                    <div id="stream-api" class="tab-pane fade" role="tabpanel" aria-labelledby="stream-api-tab">
                      <br>
                      <div class="form-group">
                        <label for="allowed-api-nuxt" class="col-sm-2 control-label">Stream API By Nuxt</label>
                        <div class="form-check form-switch">
                          <input
                            id="allowed-api-nuxt"
                            class="form-check-input"
                            type="checkbox"
                            role="switch"
                            :checked="settings?.allowedApiNuxt"
                          >
                          <!-- <%="settings.allowedApiNuxt"
                            ?
                            'checked'
                            :
                            ''
                            %
                          > -->
                          <label class="form-check-label" for="allowed-api-nuxt">Use a pair of Nuxt scripts using Nuxt as the Embed Player.</label>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="api-nuxt-key" class="col-sm-2 control-label">API Key</label>
                        <input id="api-nuxt-key" type="text" class="form-control" placeholder="API Key" :value="settings?.streamApiKey || ''">
                      </div>
                      <hr>
                      <div class="container">
                        <div class="api-section">
                          <h2>Authentication</h2>
                          <p>ทุก endpoint ต้องการการยืนยันตัวตนด้วย API Key คุณสามารถรับ API Key ของคุณได้จากพอร์ทัลสำหรับนักพัฒนา</p>
                          <pre><code>Authorization: Bearer &lt;your_api_key&gt;</code></pre>
                        </div>
                        <div class="api-section">
                          <h2>Endpoints Member</h2>
                          <div class="endpoint">
                            <span class="endpoint-method get">GET</span> <code>/api/streams</code> ดึงข้อมูลสตรีมทั้งหมด
                          </div>
                          <div class="endpoint">
                            <span class="endpoint-method get">GET</span> <code>/api/streams/{stream_id}</code> ดึงรายละเอียดของสตรีมเฉพาะจาก ID
                          </div>
                          <div class="endpoint">
                            <span class="endpoint-method post">POST</span> <code>/api/streams</code> ดึงข้อมูลสตรีมทั้งหมด
                          </div>
                        </div>
                        <div class="api-section">
                          <h2>Usage Example</h2>
                          <h3>Embed Player with Nuxt</h3>
                          <p>ในการใช้งาน Nuxt เป็นตัวเล่นฝัง (Embed Player) ให้ตรวจสอบว่าคุณมีการตั้งค่าดังต่อไปนี้:</p>
                          <pre><code /></pre>
                          <p>ตรวจสอบให้แน่ใจว่าคุณได้แทนค่าตัวอย่างที่ใช้ด้วยข้อมูลสตรีมและ API Key ของคุณจริงๆ</p>
                        </div>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="btn-group-custom">
                <button id="save-settings" class="btn btn-primary">
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      settings: {}
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/setting-domains`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.settings = response.settings
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })
    function addRow (tableId, inputName) {
      const newRow = `
        <tr>
          <td class="text_player"><input type="text" class="form-control" name="${inputName}" value=""></td>
          <td><button type="button" class="btn btn-danger remove-row">Remove</button></td>
        </tr>`
      $(`#${tableId}`).append(newRow)
    }

    function removeRow (event) {
      $(event.target).closest('tr').remove()
    }

    $('#p2p-add-row1').click(() => addRow('domain-list-p2p', 'p2p-link'))
    $('#add-row1').click(() => addRow('domain-list', 'stream-link-domains'))
    $(document).on('click', '.remove-row', removeRow)

    $('#save-settings').click(function () {
      const settings = {
        playerUrl: $('#player-url').val(),
        iframeHeight: $('input[name="settings-iframe_height-"]').val(),
        iframeWidth: $('input[name="settings-iframe_width"]').val(),
        jwplayerKey: $('#jwplayer-key').val(),
        jwplayerUrl: $('#jwplayer-url').val(),
        defaultImage: $('#player-defaultimage').val(),
        rememberPosition: $('#player-rememberposition').is(':checked'),
        logoUrl: $('#logo-url').val(),
        logoTarget: $('#logo-target').val(),
        logoPosition: $('#logo-position').val(),
        allowedSites: $('#allowed-sites-txt').val(),
        streamLinkDomains: $('input[name="stream-link-domains"]').map(function () { return $(this).val() }).get().join(','),
        p2pLink: $('input[name="p2p-link"]').map(function () { return $(this).val() }).get().join(','),
        streamApiKey: $('#api-nuxt-key').val(),
        playerRememberPosition: $('#player-rememberposition').is(':checked'),
        logoSwitchChack: $('#logo-switch-chack').is(':checked'),
        logoSwitchHide: $('#logo-switch-hide').is(':checked'),
        allowedPlaylist: $('#allowed-playlist').is(':checked'),
        allowedPlaylistIndex: $('#allowed-playlist-index').is(':checked'),
        allowedP2P: $('#allowed-p2p').is(':checked'),
        allowedApiNuxt: $('#allowed-api-nuxt').is(':checked')
      }

      $.ajax({
        type: 'POST',
        url: `${process.env.NUXT_ENV_API_URL}/setting-player`,
        xhrFields: {
          withCredentials: true
        },
        data: JSON.stringify(settings),
        contentType: 'application/json',
        success (response) {
          Swal.fire({
            icon: 'success',
            title: 'Settings Saved',
            text: response.message
          })
        },
        error () {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error saving the settings.'
          })
        }
      })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
