<template>
  <div id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <ul
        id="accordionSidebar"
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="/"
        >
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink" />
          </div>
          <div class="sidebar-brand-text mx-3">HLS <sup>new 2024</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt" />
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-list-ul" />
            <span>Video</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">
                Video:
              </h6>
              <a
                class="collapse-item"
                href="/videos"
              ><i class="fas fa-film" /> Videos List</a>
              <a
                class="collapse-item"
                href="/videos/upload"
              ><i class="fas fa-cloud-upload-alt" /> UPLOAD</a>
              <a
                class="collapse-item"
                href="/videos/google-drive"
              ><i class="fab fa-google-drive" /> Google Drive</a>
              <a
                class="collapse-item"
                href="/videos/remote-mp4"
              ><i class="far fa-file-video" /> MP4</a>
              <a
                class="collapse-item"
                href="/videos/remote-m3u8"
              ><i class="far fa-file-video" /> M3U8</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#ServerPages"
            aria-expanded="true"
            aria-controls="ServerPages"
          >
            <i class="fas fa-server" />
            <span>Server Process</span>
          </a>
          <div
            id="ServerPages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">
                Server Screens:
              </h6>
              <a
                class="collapse-item"
                href="/server/add"
              ><i class="fas fa-plus-circle" /> Add New</a>
              <a
                class="collapse-item"
                href="/server"
              ><i class="fas fa-server" /> Server List</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
          <a class="nav-link" href="/google-drive">
            <i class="fas fa-fw fa-chart-area" />
            <span>Google Drive</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#settingPages"
            aria-expanded="true"
            aria-controls="settingPages"
          >
            <i class="fas fa-cog" />
            <span>Setting</span>
          </a>
          <div
            id="settingPages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">
                Server Screens:
              </h6>
              <a
                class="collapse-item"
                href="/setting/domains"
              ><i class="fas fa-plus-circle" /> Domain</a>
              <!-- <a class="collapse-item" href="/setting/advertising"><i class="fas fa-plus-circle" />
                Advertising</a> -->
              <a
                class="collapse-item"
                href="/setting/player"
              ><i class="fas fa-server" /> Player</a>
              <a
                class="collapse-item"
                href="/setting/google-drive"
              ><i class="fas fa-server" /> Google Drive</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button id="sidebarToggle" class="rounded-circle border-0" />
        </div>
      </ul>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars" />
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  id="searchDropdown"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw" />
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      >
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm" />
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <!-- Nav Item - Alerts -->
              <li class="nav-item dropdown no-arrow mx-1">
                <a
                  id="alertsDropdown"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-bell fa-fw" />
                  <!-- Counter - Alerts -->
                  <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div
                  class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="alertsDropdown"
                >
                  <h6 class="dropdown-header">
                    Alerts Center
                  </h6>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white" />
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 12, 2019</div>
                      <span
                        class="font-weight-bold"
                      >A new monthly report is ready to download!</span>
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-success">
                        <i class="fas fa-donate text-white" />
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 7, 2019</div>
                      $290.29 has been deposited into your account!
                    </div>
                  </a>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="mr-3">
                      <div class="icon-circle bg-warning">
                        <i class="fas fa-exclamation-triangle text-white" />
                      </div>
                    </div>
                    <div>
                      <div class="small text-gray-500">December 2, 2019</div>
                      Spending Alert: We've noticed unusually high spending for
                      your account.
                    </div>
                  </a>
                  <a
                    class="dropdown-item text-center small text-gray-500"
                    href="#"
                  >Show All Alerts</a>
                </div>
              </li>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown no-arrow">
                <a
                  id="userDropdown"
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    {{ userInfo?.username }}
                  </span>
                  <img
                    class="img-profile rounded-circle"
                    src="~/assets/img/undraw_profile.svg"
                  >
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="/profile">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400" />
                    Profile
                  </a>
                  <a class="dropdown-item" href="/setting/domains">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400" />
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400" />
                    Activity Log
                  </a>
                  <div class="dropdown-divider" />
                  <a
                    class="dropdown-item"
                    href="#"
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    />
                    Logout
                  </a>
                </div>
              </li>
            </ul>
          </nav>
          <Nuxt />
        </div>

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Your Website 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up" />
    </a>

    <!-- Logout Modal-->
    <div
      id="logoutModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="exampleModalLabel" class="modal-title">
              Ready to Leave?
            </h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a id="btn-logout" class="btn btn-primary" href="$">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
import { get } from 'vuex-pathify'
export default {
  computed: {
    userInfo: get('user/userInfo')
  },
  mounted () {
    // Toggle the side navigation
    $('#sidebarToggle, #sidebarToggleTop').on('click', function (e) {
      $('body').toggleClass('sidebar-toggled')
      $('.sidebar').toggleClass('toggled')
      if ($('.sidebar').hasClass('toggled')) {
        $('.sidebar .collapse').collapse('hide')
      }
    })

    // Close any open menu accordions when window is resized below 768px
    $(window).resize(function () {
      if ($(window).width() < 768) {
        $('.sidebar .collapse').collapse('hide')
      }

      // Toggle the side navigation when window is resized below 480px
      if ($(window).width() < 480 && !$('.sidebar').hasClass('toggled')) {
        $('body').addClass('sidebar-toggled')
        $('.sidebar').addClass('toggled')
        $('.sidebar .collapse').collapse('hide')
      }
    })

    // Prevent the content wrapper from scrolling when the fixed side navigation hovered over
    $('body.fixed-nav .sidebar').on(
      'mousewheel DOMMouseScroll wheel',
      function (e) {
        if ($(window).width() > 768) {
          const e0 = e.originalEvent
          const delta = e0.wheelDelta || -e0.detail
          this.scrollTop += (delta < 0 ? 1 : -1) * 30
          e.preventDefault()
        }
      }
    )

    // Scroll to top button appear
    $(document).on('scroll', function () {
      const scrollDistance = $(this).scrollTop()
      if (scrollDistance > 100) {
        $('.scroll-to-top').fadeIn()
      } else {
        $('.scroll-to-top').fadeOut()
      }
    })

    // Smooth scrolling using jQuery easing
    $(document).on('click', 'a.scroll-to-top', function (e) {
      const $anchor = $(this)
      $('html, body')
        .stop()
        .animate(
          {
            scrollTop: $($anchor.attr('href')).offset().top
          },
          1000,
          'easeInOutExpo'
        )
      e.preventDefault()
    })

    $('#btn-logout').click(function () {
      $.ajax({
        type: 'GET',
        url: `${process.env.NUXT_ENV_API_URL}/auth/logout`,
        xhrFields: {
          withCredentials: true
        },
        contentType: 'application/json',
        success (response) {
          console.log('🚀 ~ success ~ response:', response)

          window.location.href = '/auth/login'
        },
        error () {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error saving the settings.'
          })
        }
      })
    })
  }
}
</script>
