<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">
        Dashboard
      </h1>
    </div>

    <!-- Top Row of Cards -->
    <div class="row">
      <!-- Total Process -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-info shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Total Process
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ totalVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Completed Process -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Completed
                  Process
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ completedVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Failed Process -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-danger shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Failed Process
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ failedVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Waiting Process -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-warning shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Waiting Process
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ waitingVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Downloading -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-success shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Downloading
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ downloadingVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Encode Process -->
      <div class="col-xl-2 col-md-4 mb-4">
        <div class="card bg-secondary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-uppercase mb-1 text-white">
                  Encode Process
                </div>
                <div class="h5 mb-0 font-weight-bold text-white">
                  {{ encodingVideos }}
                </div>
              </div>
              <div class="col-auto">
                <i class="fas fa-cloud fa-2x text-gray-300" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Server Information Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <!-- Server Information Section -->
            <div class="col d-flex justify-content-between align-items-center">
              <h6 class="m-0 font-weight-bold text-primary">
                Server Information
              </h6>
              <div>
                <button id="deleteAllCaches" class="btn btn-primary">
                  Delete All Caches
                </button>
                <button id="ResetAllErrorss" class="btn btn-success">
                  Reset All Errors
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Server ID</th>
                    <th>Using Spaces</th>
                    <th>Server List</th>
                    <th>Total Video</th>
                    <th>Waiting Process</th>
                    <th>Working Process</th>
                    <th>Failed Process</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(server, index) in servers" :key="index">
                    <td>
                      {{ index + 1 }}
                    </td>
                    <td>
                      {{ server.id }}
                    </td>
                    <td>
                      {{
                        findserverSpaces(serverSpaces, server.id)
                      }} Bytes
                    </td>
                    <td>
                      <span v-for="domain in serverSpace.domains" :key="domain" class="badge bg-success text-white">
                        {{ domain }}
                      </span>
                    </td>
                    <td>
                      {{ serverSpace.totalVideos }}
                    </td>
                    <td>
                      {{ serverSpace.waitingVideos }}
                    </td>
                    <td>
                      {{ serverSpace.encodingVideos }}
                    </td>
                    <td>
                      {{ serverSpace.failedVideos }}
                    </td>
                    <td>
                      <button
                        class="btn btn-success reset-errors"
                        :data-id="server.id"
                      >
                        Reset Errors
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
export default {
  middleware: 'authenticated',
  data () {
    return {
      servers: [],
      totalVideos: null,
      completedVideos: null,
      failedVideos: null,
      waitingVideos: null,
      downloadingVideos: null,
      encodingVideos: null,
      serverSpaces: null
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/server`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.servers = response.servers
        this.totalVideos = response.totalVideos
        this.completedVideos = response.completedVideos
        this.failedVideos = response.failedVideos
        this.waitingVideos = response.waitingVideos
        this.downloadingVideos = response.downloadingVideos
        this.encodingVideos = response.encodingVideos
        this.serverSpaces = response.serverSpaces
        // if (response.message === 'โฟลเดอร์ว่างเปล่าหรือข้อมูลถูกลบไปหมดแล้ว') {
        //   Swal.fire(
        //     'แจ้งเตือน',
        //     response.message,
        //     'warning'
        //   )
        // } else {

        // }
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })
    function deleteCaches () {
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/cache/check-caches`,
        type: 'POST',
        success (response) {
          if (response.message === 'โฟลเดอร์ว่างเปล่าหรือข้อมูลถูกลบไปหมดแล้ว') {
            Swal.fire(
              'แจ้งเตือน',
              response.message,
              'warning'
            )
          } else {
            Swal.fire({
              title: 'Are you sure?',
              text: `Cache: ${response.cache.fileCount} files, ${response.cache.folderCount} folders\nFiles: ${response.files.fileCount} files, ${response.files.folderCount} folders`,
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
              if (result.isConfirmed) {
                $.ajax({
                  url: '/cache/delete-caches',
                  type: 'POST',
                  success (response) {
                    Swal.fire(
                      'Deleted!',
                      'All caches have been deleted.',
                      'success'
                    )
                  },
                  error () {
                    Swal.fire(
                      'Error!',
                      'There was an error deleting the caches.',
                      'error'
                    )
                  }
                })
              }
            })
          }
        },
        error () {
          Swal.fire(
            'Error!',
            'There was an error checking the caches.',
            'error'
          )
        }
      })
    }

    function resetAllErrors () {
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/reset-errors`,
        type: 'POST',
        xhrFields: {
          withCredentials: true
        },
        success (response) {
          Swal.fire(
            'Success!',
            response.message,
            'success'
          ).then(() => {
            // Optionally reload the page or update the UI to reflect changes
            location.reload()
          })
        },
        error () {
          Swal.fire(
            'Error!',
            'There was an error resetting the errors.',
            'error'
          )
        }
      })
    }

    function resetAllErrorsID (serverId) {
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/reset-errors/${serverId}`,
        type: 'POST',
        xhrFields: {
          withCredentials: true
        },
        success (response) {
          Swal.fire(
            'Success!',
            response.message,
            'success'
          ).then(() => {
            location.reload()
          })
        },
        error () {
          Swal.fire(
            'Error!',
            'There was an error resetting the errors.',
            'error'
          )
        }
      })
    }

    document.getElementById('deleteAllCaches').addEventListener('click', deleteCaches)
    document.getElementById('ResetAllErrorss').addEventListener('click', resetAllErrors)
    document.querySelectorAll('.reset-errors').forEach((button) => {
      button.addEventListener('click', () => {
        const serverId = button.getAttribute('data-id')
        resetAllErrorsID(serverId)
      })
    })
  },
  methods: {
    findserverSpaces (serverSpaces, id) {
      const serverSpace = serverSpaces.find(space => space.id === id)
      return serverSpace?.totalSize || 0
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
