<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">
      Profile
    </h1>

    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-6">
        <!-- Overflow Hidden -->
        <div class="card mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              ข้อมูลผู้ใช้
            </h6>
          </div>
          <div class="card-body">
            <div>
              <label for="username">Username:</label>
              <input
                id="username"
                type="text"
                class="form-control"
                name="username"
                :value="$store.state.user.userInfo.username"
                required
              >

              <div>
                <label for="apikey">API KEY:</label>
                <input
                  id="apikey"
                  type="apikey"
                  class="form-control"
                  name="apikey"
                  :value="$store.state.user.userInfo.api_key"
                  required
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- /.container-fluid -->
</template>

<script>
export default {
  computed: {
  },
  mounted () {
  }
}
</script>

<style lang="scss" scoped>

</style>
