<template>
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">
      Google Drive
    </h1>
    <style>
      .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
      }

      .btn-group-custom button {
      flex: 1;
      }

      .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      }

      .custom-height {
      height: 800px;
      /* ปรับตามความสูงที่ต้องการ */
      }
    </style>
    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Single file Add
            </h6>
          </div>
          <div class="card-body">
            <div class="upload-container">
              <h5 class="text-center">
                Upload files you want to share with Videos MP4, MKV, TS are allowed.
              </h5>
              <div id="uploadArea" class="upload-area">
                <div class="form-group">
                  <input
                    id="single-drive"
                    type="text"
                    class="form-control form-control-user"
                    aria-describedby="single-drive"
                    placeholder="https://drive.google.com/file/d/xxxxx/view"
                  >
                </div>
                <select id="singleServerSelect" class="form-control form-control-sm">
                  <option value="">
                    Select Server
                  </option>
                  <!-- <% servers.forEach(server=> {
                  const domains = JSON.parse(server.domains);
                  %> -->
                  <option v-for="(server, inx) in servers" :key="inx" :value="JSON.parse(server.domains)[0]" :data-server-id="server.id">
                    {{ server.name }}
                  </option>
                  <!-- <% }) %> -->
                </select>
                <br>
                <div class="btn-group-custom">
                  <button id="add-single-drive" class="btn btn-primary">
                    ADD
                  </button>
                </div>
                <input id="fileInput" type="file" multiple style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card shadow mb-4 custom-card-height">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              List File ADD
            </h6>
          </div>
          <div class="card-body">
            <div class="form-group">
              <textarea
                id="multiple-drives"
                class="form-control form-control-user"
                rows="10"
                placeholder="https://drive.google.com/file/d/xxxxx/view&#10;https://drive.google.com/file/d/yyyy/view"
              />
            </div>
            <select id="multipleServerSelect" class="form-control form-control-sm">
              <option value="">
                Select Server
              </option>
              <!-- <% servers.forEach(server=> {
              const domains = JSON.parse(server.domains);
              %> -->

              <option v-for="(server, inx) in servers" :key="inx" :value="JSON.parse(server.domains)[0]" :data-server-id="server.id">
                {{ server.name }}
              </option>
              <!-- <% }) %> -->
            </select>
            <br>
            <div class="btn-group-custom">
              <button id="add-multiple-drives" class="btn btn-primary">
                ADD
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Google Drive API ADD
            </h6>
          </div>
          <div class="card-body">
            <p>GET : {base_url}/api/add-drive?url={url drive}&key={key}&server={id}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      servers: []
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/remote-google-drive`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.servers = response.servers
        // if (response.message === 'โฟลเดอร์ว่างเปล่าหรือข้อมูลถูกลบไปหมดแล้ว') {
        //   Swal.fire(
        //     'แจ้งเตือน',
        //     response.message,
        //     'warning'
        //   )
        // } else {

        // }
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })
    // eslint-disable-next-line no-unused-vars
    let servers = []
    // eslint-disable-next-line no-unused-vars
    let serversid = []
    const uploadToken = process.env.NUXT_ENV_API_URL

    $('#singleServerSelect').on('change', function () {
      const selectedServerIp = $(this).val()
      const selectedServerId = $(this).find(':selected').data('server-id')
      servers = [selectedServerIp]
      serversid = [selectedServerId]
    })

    $('#multipleServerSelect').on('change', function () {
      const selectedServerIp = $(this).val()
      const selectedServerId = $(this).find(':selected').data('server-id')
      servers = [selectedServerIp]
      serversid = [selectedServerId]
    })

    $('#add-single-drive').click(function () {
      const driveLink = $('#single-drive').val()
      const serverId = $('#singleServerSelect').find(':selected').data('server-id')
      const iMemberID = '<%= userid %>'

      if (driveLink === '' || serverId === undefined) {
        Swal.fire('Error', 'Please enter a valid Google Drive link and select a server.', 'error')
        return
      }

      $.ajax({
        url: '/api/add-single-drive',
        type: 'POST',
        contentType: 'application/json',
        headers: {
          Authorization: 'Bearer ' + uploadToken
        },
        data: JSON.stringify({
          driveLink,
          serverId,
          iMemberID
        }),
        success (response) {
          Swal.fire('Success', 'Google Drive link added successfully!', 'success')
          // You can also add code here to update the UI with the new file/link
        },
        error (xhr, status, error) {
          if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
            Swal.fire('Duplicate Link', 'This Google Drive link already exists in the database.', 'warning')
          } else {
            Swal.fire('Error', 'Failed to add Google Drive link. Please try again.', 'error')
          }
        }
      })
    })

    $('#add-multiple-drives').click(function () {
      const driveLinks = $('#multiple-drives').val().split('\n')
      const serverId = $('#multipleServerSelect').find(':selected').data('server-id')
      const iMemberID = '<%= userid %>'

      if (driveLinks.length === 0 || serverId === undefined) {
        Swal.fire('Error ADD multiple-drives', 'List File ADD Please enter at least one valid Google Drive link and select a server.', 'error')
        return
      }

      let successfulLinks = 0
      let duplicateLinks = 0
      let failedLinks = 0

      function addDriveLinkWithDelay (index) {
        if (index >= driveLinks.length) {
          Swal.fire({
            icon: 'info',
            title: 'Process Completed',
            text: `Total links processed: ${driveLinks.length}\nSuccessful: ${successfulLinks}\nDuplicates: ${duplicateLinks}\nFailed: ${failedLinks}`,
            showConfirmButton: true
          })
          return
        }

        const driveLink = driveLinks[index].trim() // Remove any extra whitespace
        if (driveLink === '') {
          addDriveLinkWithDelay(index + 1) // Skip empty lines
          return
        }

        $.ajax({
          url: '/api/add-single-drive',
          type: 'POST',
          contentType: 'application/json',
          headers: {
            Authorization: 'Bearer ' + uploadToken
          },
          data: JSON.stringify({
            driveLink,
            serverId,
            iMemberID
          }),
          success (response) {
            successfulLinks++
            Swal.fire({
              icon: 'success',
              title: `Your work has been saved ${driveLink}`,
              showConfirmButton: false,
              timer: 1500
            })

            setTimeout(function () {
              addDriveLinkWithDelay(index + 1)
            }, 1500) // 1.5-second delay
          },
          error (xhr, status, error) {
            if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
              duplicateLinks++
              Swal.fire({
                icon: 'warning',
                title: 'Duplicate Link',
                text: `The link ${driveLink} already exists in the database.`,
                showConfirmButton: false,
                timer: 1500
              })
            } else {
              failedLinks++
              Swal.fire('Error', `Failed to add Google Drive link ${driveLink}. Please try again.`, 'error')
            }
            setTimeout(function () {
              addDriveLinkWithDelay(index + 1)
            }, 20000) // 20-second delay
          }
        })
      }

      addDriveLinkWithDelay(0)
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
