<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-1 text-gray-800">
      Remote mp4
    </h1>
    <style>
      .btn-group-custom {
      display: flex;
      justify-content: center;
      gap: 10px;
      }

      .btn-group-custom button {
      flex: 1;
      }

      .video-thumbnail {
      width: 100px;
      height: 100px;
      object-fit: cover;
      margin-right: 10px;
      }
      .custom-height {
      height: 800px; /* ปรับตามความสูงที่ต้องการ */
      }
    </style>
    <div class="row">
      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Single file Add
            </h6>
          </div>
          <div class="card-body">
            <div class="upload-container">
              <div id="uploadArea" class="upload-area">
                <div class="form-group">
                  <input id="title" type="text" class="form-control form-control-user" aria-describedby="title" placeholder="NAME">
                </div>
                <div class="form-group">
                  <input id="strreferer" type="text" class="form-control form-control-user" aria-describedby="strreferer" placeholder="Referer">
                </div>
                <div class="form-group">
                  <input id="single-drive" type="text" class="form-control form-control-user" aria-describedby="single-drive" placeholder="https://onlinetestcase.com/wp-content/uploads/2023/06/1MB.mp4">
                </div>
                <select id="serverSelect" class="form-control form-control-sm">
                  <option value="">
                    Select Server
                  </option>
                  <option v-for="(server, inx) in servers" :key="inx" :value="JSON.parse(server.domains)[0]" :data-server-id="server.id">
                    {{ server.name }}
                  </option>
                </select>
                <br>
                <div class="btn-group-custom">
                  <button id="add-single-drive" class="btn btn-primary">
                    ADD
                  </button>
                </div>
                <input id="fileInput" type="file" multiple style="display: none;">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              Remote mp4 API ADD
            </h6>
          </div>
          <div class="card-body">
            <p>GET : {base_url}/api/remote-mp4?url={url .mp4}&key={key}&name={name}&server={id}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      servers: []
    }
  },
  mounted () {
    // eslint-disable-next-line no-unused-vars
    let servers = []
    // eslint-disable-next-line no-unused-vars
    let serversid = []
    let uploadToken = ''

    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/remote-mp4`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.servers = response.servers
        uploadToken = response.apiKey
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })

    $('#serverSelect').on('change', function () {
      const selectedServerIp = $(this).val()
      const selectedServerId = $(this).find(':selected').data('server-id')
      servers = [selectedServerIp]
      serversid = [selectedServerId]
    })

    $('#serverSelectMultiple').on('change', function () {
      const selectedServerIp = $(this).val()
      const selectedServerId = $(this).find(':selected').data('server-id')
      servers = [selectedServerIp]
      serversid = [selectedServerId]
    })

    $('#add-single-drive').click(function () {
      const title = $('#title').val()
      const driveLink = $('#single-drive').val()
      const serverId = $('#serverSelect').find(':selected').data('server-id')
      const iMemberID = '<%= userid %>'
      const strreferer = $('#strreferer').val()

      if (driveLink === '' || title === '' || serverId === undefined) {
        Swal.fire('Error', 'Please enter a valid Google Drive link and select a server.', 'error')
        return
      }

      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/api/add-remote-mp4`,
        type: 'POST',
        contentType: 'application/json',
        xhrFields: {
          withCredentials: true
        },
        headers: {
          Authorization: 'Bearer ' + uploadToken
        },
        data: JSON.stringify({
          title,
          driveLink,
          serverId,
          iMemberID,
          strreferer
        }),
        success (response) {
          Swal.fire('Success', 'Google Drive link added successfully!', 'success')
          // You can also add code here to update the UI with the new file/link
        },
        error (xhr, status, error) {
          if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
            Swal.fire('Duplicate Link', 'This Google Drive link already exists in the database.', 'warning')
          } else {
            Swal.fire('Error', 'Failed to add Google Drive link. Please try again.', 'error')
          }
        }
      })
    })

    $('#add-multiple-drives').click(function () {
      const driveLinks = $('#multiple-drives').val().split('\n')
      const serverId = $('#serverSelectMultiple').find(':selected').data('server-id')
      const iMemberID = '<%= userid %>'

      if (driveLinks.length === 0 || serverId === undefined) {
        Swal.fire('Error', 'Please enter at least one valid Google Drive link and select a server. xxxxx', 'error')
        return
      }

      driveLinks.forEach(function (driveLink) {
        driveLink = driveLink.trim() // Remove any extra whitespace
        if (driveLink === '') { return } // Skip empty lines

        $.ajax({
          url: `${process.env.NUXT_ENV_API_URL}/api/add-remote-mp4`,
          type: 'POST',
          contentType: 'application/json',
          xhrFields: {
            withCredentials: true
          },
          headers: {
            Authorization: 'Bearer ' + uploadToken
          },
          data: JSON.stringify({
            driveLink,
            serverId,
            iMemberID
          }),
          success (response) {
            Swal.fire('Success', `Google Drive link ${driveLink} added successfully!`, 'success')
            // You can also add code here to update the UI with the new file/link
          },
          error (xhr, status, error) {
            if (xhr.status === 400 && xhr.responseText === 'This Google Drive link already exists in the database') {
              Swal.fire('Duplicate Link', `The link ${driveLink} already exists in the database.`, 'warning')
            } else {
              Swal.fire('Error', `Failed to add Google Drive link ${driveLink}. Please try again.`, 'error')
            }
          }
        })
      })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
