<template>
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Content Row -->
    <div class="row">
      <div class="col-lg-6">
        <!-- Overflow Hidden -->
        <div class="card mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
              ADD Server
            </h6>
          </div>
          <div class="card-body">
            <form id="add-server-form">
              <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" type="text" class="form-control" name="name" required>
              </div>
              <div class="form-group">
                <label for="ip">IP:</label>
                <input id="ip" type="text" class="form-control" name="ip" required>
              </div>
              <div class="form-group">
                <label for="domainupload">Domain UPLOAD:</label>
                <input
                  id="domainupload"
                  type="text"
                  class="form-control"
                  name="domainupload"
                  required
                >
              </div>
              <div class="form-group">
                <select id="upload" class="form-control" name="upload">
                  <option value="">
                    Type
                  </option>
                  <option value="localhost">
                    Localhost
                  </option>
                  <option value="gcs">
                    GOOGLE Cloud Storage
                  </option>
                  <option value="s3">
                    AWS S3 Storage
                  </option>
                  <option value="minio">
                    MinIO Storage
                  </option>
                  <option value="backblaze">
                    Backblaze Storage
                  </option>
                  <option value="wasabi">
                    Wasab Storage
                  </option>
                  <option value="r2">
                    Cloudflare R2 Storage
                  </option>
                  <option value="ftp">
                    FTP
                  </option>
                  <option value="sftp">
                    SFTP
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="domains">Domains:</label>
                <div id="domains-container">
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" name="domains[]" required>
                    <div class="input-group-append">
                      <button
                        class="btn btn-danger remove-domain"
                        type="button"
                      >
                        &times;
                      </button>
                    </div>
                  </div>
                </div>
                <button id="add-domain" type="button" class="btn btn-secondary">
                  Add Domain
                </button>
              </div>
              <button type="submit" class="btn btn-primary">
                ADD
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  mounted () {
    document.getElementById('add-domain').addEventListener('click', function () {
      const domainsContainer = document.getElementById('domains-container')
      const domainInputGroup = document.createElement('div')
      domainInputGroup.className = 'input-group mb-2'
      domainInputGroup.innerHTML = `
            <input type="text" class="form-control" name="domains[]" required>
            <div class="input-group-append">
                <button class="btn btn-danger remove-domain" type="button">&times;</button>
            </div>
        `
      domainsContainer.appendChild(domainInputGroup)
    })

    document.getElementById('domains-container').addEventListener('click', function (event) {
      if (event.target.classList.contains('remove-domain')) {
        event.target.closest('.input-group').remove()
      }
    })

    document.getElementById('add-server-form').addEventListener('submit', function (event) {
      event.preventDefault()

      const name = document.getElementById('name').value
      const ip = document.getElementById('ip').value
      const domainupload = document.getElementById('domainupload').value
      const upload = document.getElementById('upload').value
      const domainInputs = document.querySelectorAll('input[name="domains[]"]')
      const domains = Array.from(domainInputs).map(input => input.value)

      fetch(`${process.env.NUXT_ENV_API_URL}/server-add`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        xhrFields: {
          withCredentials: true
        },
        body: JSON.stringify({ name, ip, domains, domainupload, upload })
      })
        .then(response => response.json())
        .then((data) => {
          if (data.success) {
            Swal.fire({
              icon: 'success',
              title: 'Server Added',
              html: `The server has been added successfully!<br><i class="fas fa-hdd"></i> Total Storage: ${data.TotalStorage}<br><i class="fas fa-hockey-puck"></i> Used Storage: ${data.UseStorage}`
            })
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'There was an error adding the server.'
            })
          }
        })
        .catch(() => {
          Swal.fire({
            icon: 'error',
            title: 'Error',
            text: 'There was an error processing your request.'
          })
        })
    })
  }
}
</script>

<style lang="scss" scoped>

</style>
