<template>
  <div>
    <!-- Begin Page Content -->
    <div class="container-fluid">
      <!-- Page Heading -->
      <h1 class="h3 mb-1 text-gray-800">
        Server Process List
      </h1>

      <!-- Content Row -->
      <div class="row">
        <div class="col-lg-12">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">
                Server Process List
              </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="dataTable" class="table table-bordered" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Name</th>
                      <th>IP</th>
                      <th>Domains</th>
                      <th>TotalStorage</th>
                      <th>UseStorage</th>
                      <th>Status</th>
                      <th />
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <% if (servers.length > 0) { %>
                    <% servers.forEach(server => { %> -->

                    <template v-if="servers.length">
                      <tr v-for="(server, inx) in servers" :key="inx">
                        <td>{{ server.id }}</td>
                        <td>{{ server.name }}</td>
                        <td>{{ server.ip }}</td>
                        <td>
                          <span v-for="domain in JSON.parse(server.domains)" :key="domain" class="badge bg-success text-white">{{ domain }}</span>
                        </td>
                        <td>{{ server.TotalStorage }}</td>
                        <td>{{ server.UseStorage }}</td>
                        <td>
                          <a v-if="server.status === 0" href="#" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-ban" />
                          </a>
                          <a v-else-if="server.status === 1" href="#" class="btn btn-success btn-circle btn-sm">
                            <i class="fas fa-check" />
                          </a>
                        </td>
                        <td>
                          <a href="javascript:void(0);" class="btn btn-info btn-circle btn-sm data-re" :data-id="server.id" :data-ip="server.ip">
                            <i class="fas fa-sync" />
                          </a>
                          <a href="javascript:void(0);" class="btn btn-info btn-circle btn-sm data-logs" :data-id="server.id">
                            <i class="fas fa-desktop" />
                          </a>
                          <a
                            href="javascript:void(0);"
                            class="btn btn-success btn-circle btn-sm server-edit"
                            :data-id="server.id"
                            :data-name="server.name"
                            :data-ip="server.ip"
                            :data-domains="server.domains"
                            :data-totalstorage="server.TotalStorage"
                            :data-usestorage="server.UseStorage"
                            :data-domainupload="server.domainsup"
                            :data-upload="server.upload"
                          >

                            <i class="fas fa-pencil-alt" />
                          </a>
                          <a href="javascript:void(0);" class="btn btn-danger btn-circle btn-sm server-delete" data-id="server.id">
                            <i class="fas fa-trash" />
                          </a>
                        </td>
                      </tr>
                    </template>
                    <tr v-else>
                      <td colspan="9" class="text-center">
                        ไม่มีข้อมูล
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for displaying logs -->
    <div
      id="dataLogsModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="dataLogsModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="dataLogsModalLabel" class="modal-title">
              Data Logs RealTime
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <textarea id="logsContent" class="form-control w-100" style="resize:vertical;width:100%;height:500px;background-color:#000000ce;color:#fff;" readonly />
            <!-- Logs content will be loaded here -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for editing server details -->
    <div
      id="editServerModal"
      class="modal fade"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editServerModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="editServerModalLabel" class="modal-title">
              Edit Server Process
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="editServerForm">
              <input id="editServerId" type="hidden">
              <div class="form-group">
                <label for="editServerName">Name</label>
                <input id="editServerName" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="editServerIP">IP</label>
                <input id="editServerIP" type="text" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="editDomainupload">Domain UPLOAD:</label>
                <input id="editDomainupload" type="text" class="form-control" name="editDomainupload" required>
              </div>
              <div class="form-group">
                <select id="editUpload" class="form-control" name="editUpload">
                  <option value="">
                    Type
                  </option>
                  <option value="localhost">
                    Localhost
                  </option>
                  <option value="gcs">
                    GOOGLE Cloud Storage
                  </option>
                  <option value="s3">
                    AWS S3 Storage
                  </option>
                  <option value="minio">
                    MinIO Storage
                  </option>
                  <option value="backblaze">
                    Backblaze Storage
                  </option>
                  <option value="wasabi">
                    Wasab Storage
                  </option>
                  <option value="r2">
                    Cloudflare R2 Storage
                  </option>
                  <option value="ftp">
                    FTP
                  </option>
                  <option value="sftp">
                    SFTP
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label for="domains">Domains:</label>
                <div id="domains-container">
                  <div class="input-group mb-2">
                    <input type="text" class="form-control" name="domains[]" required="">
                    <div class="input-group-append">
                      <button class="btn btn-danger remove-domain" type="button">
                        ×
                      </button>
                    </div>
                  </div>
                </div>
                <button id="add-domain" type="button" class="btn btn-secondary">
                  Add Domain
                </button>
              </div>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import Swal from 'sweetalert2/dist/sweetalert2.js'
import 'sweetalert2/dist/sweetalert2.min.css'
export default {
  middleware: 'authenticated',
  data () {
    return {
      servers: []
    }
  },
  mounted () {
    $.ajax({
      url: `${process.env.NUXT_ENV_API_URL}/server`,
      type: 'get',
      xhrFields: {
        withCredentials: true
      },
      success: (response) => {
        console.log('🚀 ~ success ~ response:', response)
        this.servers = response.servers
        // if (response.message === 'โฟลเดอร์ว่างเปล่าหรือข้อมูลถูกลบไปหมดแล้ว') {
        //   Swal.fire(
        //     'แจ้งเตือน',
        //     response.message,
        //     'warning'
        //   )
        // } else {

        // }
      },
      error () {
        Swal.fire(
          'Error!',
          'There was an error checking the caches.',
          'error'
        )
      }
    })

    const deleteButtons = document.querySelectorAll('.server-delete')
    deleteButtons.forEach((button) => {
      button.addEventListener('click', (event) => {
        const serverId = event.target.closest('.server-delete').dataset.id
        Swal.fire({
          title: 'Are you sure?',
          text: "You won't be able to revert this!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
          if (result.isConfirmed) {
            fetch(`${process.env.NUXT_ENV_API_URL}/server/${serverId}`, {
              method: 'DELETE',
              xhrFields: {
                withCredentials: true
              }
            }).then((response) => {
              if (response.ok) {
                Swal.fire(
                  'Deleted!',
                  'The server has been deleted.',
                  'success'
                ).then(() => {
                  location.reload()
                })
              } else {
                Swal.fire(
                  'Failed!',
                  'Failed to delete the server.',
                  'error'
                )
              }
            })
          }
        })
      })
    })

    const logsContent = document.getElementById('logsContent')
    // eslint-disable-next-line no-undef
    const dataLogsModal = new bootstrap.Modal(document.getElementById('dataLogsModal'))

    const BaseUrlServer = process.env.NUXT_ENV_API_URL
    const strippedBaseUrl = BaseUrlServer.replace(/^https?:\/\//, '')
    // Establish WebSocket connection
    const socket = new WebSocket(`ws://${strippedBaseUrl}`)
    let logsBuffer = []
    let isFetching = false

    socket.onopen = () => {
      // console.log('WebSocket connection established');
    }

    socket.onmessage = (event) => {
      const logData = JSON.parse(event.data)

      if (Array.isArray(logData)) {
        logsBuffer.push(...logData)
      } else {
        logsBuffer.push(logData)
      }

      if (!isFetching) {
        fetchLogs()
      }
    }

    socket.onclose = () => {
      console.log('WebSocket connection closed')
    }

    socket.onerror = (error) => {
      console.error('WebSocket error:', error)
    }

    // Function to append log to the modal content and scroll to bottom
    function appendLog (log) {
      const timestamp = new Date(log.timestamp)
      const formattedTime = timestamp.toLocaleTimeString('en-GB', { hour: '2-digit', minute: '2-digit' })
      const formattedDate = timestamp.toLocaleDateString('en-GB')
      const formattedLog = `${formattedTime} ${formattedDate} : ${log.message}`

      logsContent.value += formattedLog + '\n'
      const lines = logsContent.value.split('\n')
      if (lines.length > 19) {
        logsContent.value = lines.slice(lines.length - 19).join('\n')
      }
      logsContent.scrollTop = logsContent.scrollHeight // Scroll to bottom
    }

    // Function to fetch logs from buffer and append to textarea
    function fetchLogs () {
      isFetching = true
      const batchSize = 10
      let batchLogs = logsBuffer.splice(0, batchSize)

      while (batchLogs.length > 0) {
        batchLogs.forEach(log => appendLog(log))
        batchLogs = logsBuffer.splice(0, batchSize)
      }

      isFetching = false
    }

    // Event listener for logs buttons
    document.body.addEventListener('click', (event) => {
      if (event.target.closest('.data-logs')) {
        logsContent.value = '' // Clear previous logs
        logsBuffer = [] // Clear buffer
        const serverId = event.target.closest('.data-logs').dataset.id
        socket.send(JSON.stringify({ type: 'getLogs', serverId }))
        dataLogsModal.show() // Show modal when button is clicked
      }
    })

    // Event listener for edit server buttons
    document.body.addEventListener('click', (event) => {
      if (event.target.closest('.server-edit')) {
        const button = event.target.closest('.server-edit')
        const serverId = button.dataset.id
        const serverName = button.dataset.name
        const serverIP = button.dataset.ip
        const serverDomains = button.dataset.domains
        // const serverTotalStorage = button.dataset.totalstorage
        // const serverUseStorage = button.dataset.usestorage

        // แก้ไขส่วนนี้เพื่อใส่ค่า editDomainupload และ editUpload
        const editDomainupload = button.dataset.domainupload
        const editUpload = button.dataset.upload

        document.getElementById('editServerId').value = serverId
        document.getElementById('editServerName').value = serverName
        document.getElementById('editServerIP').value = serverIP
        document.getElementById('editDomainupload').value = editDomainupload // แก้ไขส่วนนี้
        document.getElementById('editUpload').value = editUpload // แก้ไขส่วนนี้

        // Clear existing domains
        const domainsContainer = document.getElementById('domains-container')
        domainsContainer.innerHTML = ''
        const domains = JSON.parse(serverDomains) // Parse JSON string to array
        domains.forEach((domain) => {
          const domainInputGroup = document.createElement('div')
          domainInputGroup.className = 'input-group mb-2'

          const domainInput = document.createElement('input')
          domainInput.type = 'text'
          domainInput.name = 'domains[]'
          domainInput.className = 'form-control'
          domainInput.required = true
          domainInput.value = domain

          const domainInputAppend = document.createElement('div')
          domainInputAppend.className = 'input-group-append'

          const removeButton = document.createElement('button')
          removeButton.className = 'btn btn-danger remove-domain'
          removeButton.type = 'button'
          removeButton.textContent = '×'

          removeButton.addEventListener('click', () => {
            domainsContainer.removeChild(domainInputGroup)
          })

          domainInputAppend.appendChild(removeButton)
          domainInputGroup.appendChild(domainInput)
          domainInputGroup.appendChild(domainInputAppend)
          domainsContainer.appendChild(domainInputGroup)
        })

        $('#editServerModal').modal('show')
      }
    })
    // Handle form submission for editing server
    document.getElementById('editServerForm').addEventListener('submit', (event) => {
      event.preventDefault()
      const serverId = document.getElementById('editServerId').value
      const serverName = document.getElementById('editServerName').value
      const serverIP = document.getElementById('editServerIP').value
      const editDomainupload = document.getElementById('editDomainupload').value
      const editUpload = document.getElementById('editUpload').value
      const serverDomains = Array.from(document.getElementsByName('domains[]')).map(input => input.value)

      fetch(`${process.env.NUXT_ENV_API_URL}/server/${serverId}`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        },
        xhrFields: {
          withCredentials: true
        },
        body: JSON.stringify({
          name: serverName,
          ip: serverIP,
          domainsup: editDomainupload,
          upload: editUpload,
          domains: JSON.stringify(serverDomains) // Convert array to JSON string
        })
      }).then((response) => {
        if (response.ok) {
          Swal.fire(
            'Success!',
            'Server details have been updated.',
            'success'
          ).then(() => {
            location.reload()
          })
        } else {
          Swal.fire(
            'Failed!',
            'Failed to update server details.',
            'error'
          )
        }
      })
    })

    const domainsContainer = document.getElementById('domains-container')
    const addDomainButton = document.getElementById('add-domain')

    addDomainButton.addEventListener('click', () => {
      const domainInputGroup = document.createElement('div')
      domainInputGroup.className = 'input-group mb-2'

      const domainInput = document.createElement('input')
      domainInput.type = 'text'
      domainInput.name = 'domains[]'
      domainInput.className = 'form-control'
      domainInput.required = true

      const domainInputAppend = document.createElement('div')
      domainInputAppend.className = 'input-group-append'

      const removeButton = document.createElement('button')
      removeButton.className = 'btn btn-danger remove-domain'
      removeButton.type = 'button'
      removeButton.textContent = '×'

      removeButton.addEventListener('click', () => {
        domainsContainer.removeChild(domainInputGroup)
      })

      domainInputAppend.appendChild(removeButton)
      domainInputGroup.appendChild(domainInput)
      domainInputGroup.appendChild(domainInputAppend)
      domainsContainer.appendChild(domainInputGroup)
    })

    domainsContainer.addEventListener('click', (event) => {
      if (event.target.classList.contains('remove-domain')) {
        event.target.closest('.input-group').remove()
      }
    })

    $('body').on('click', '.data-re', function () {
      const button = $(this)
      const serverId = button.data('id')
      const serverIp = button.data('ip')

      updateHddStatus(serverId, serverIp)
    })

    function updateHddStatus (serverId, serverIp) {
      $.ajax({
        url: `${process.env.NUXT_ENV_API_URL}/server-refresh`,
        type: 'POST',
        xhrFields: {
          withCredentials: true
        },
        data: { ip: serverIp },
        success (response) {
          if (response.success) {
            Swal.fire({
              icon: 'success',
              title: 'HDD status updated',
              html: `HDD status updated successfully.<br><i class="fas fa-hdd"></i> Total Storage: ${response.TotalStorage}<br><i class="fas fa-hockey-puck"></i> Used Storage: ${response.UseStorage}`
            })
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: 'There was an error adding the server.'
            })
          }
        },
        error (error) {
          Swal.fire({
            title: 'Error!',
            text: 'Failed to update HDD status.',
            icon: 'error'
          })
          console.error('Error fetching HDD status:', error)
        }
      })
    }
    ;
  }
}
</script>

<style lang="scss" scoped>

</style>
